<template>
  <modal name="leader-board-modal" :scrollable="true" :adaptive="true" height="auto">
    <div class="leader-board" v-if="leader_board !== null">
      <table>
        <thead><td>№</td><td>rating</td><td>nick</td><td>wins</td><td>losses</td><td>%</td></thead>
        <tbody>
        <tr v-for="[idx,row] in leader_board.data.entries()" :key="idx">
          <td>{{1+idx+leader_board.index*10}}</td><td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{Math.round(row[2]/(row[2]+row[3])*100)}}</td>
        </tr>
        </tbody>
      </table>
      <div style="text-align:center">
        <button v-if="leader_board.data.length" @click="get_leader_board(leader_board.channel_id, +1)">◀️</button>
          Page: {{ leader_board.index+1 }}
        <button v-if="leader_board.index > 0" @click="get_leader_board(leader_board.channel_id, -1)">️️▶️</button>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: 'LeaderBoardModal',
  computed: {
    user_id () {
      return this.$store.state.user_id
    },
    leader_board () {
      return this.$store.state.leader_board
    }
  },
  methods: {
    show () {
      this.$modal.show('leader-board-modal');
    },
    hide () {
      this.$modal.hide('leader-board-modal')
    },
    get_leader_board(channel_id, change=0) {
      var index = change
      if (change !== 0 && this.leader_board.index + change >= 0)
        index = this.leader_board.index + change
        this.$store.dispatch('get_leader_board', {'channel_id': channel_id, 'index': index})
    },
  },
  mounted() {
    this.$root.$on('show-leader-board-modal', () => {
                this.show()
     })
  }
}
</script>

<style>
.leader-board table {
  margin: 1rem
}
</style>